@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@keyframes fadeInUp {
    to {
        opacity: 5;
        transform: translateY(0);
    }
}

.hover-box {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0px;
    filter: blur(80px);
}

.hover-box2 {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    filter: blur(80px);
}

.nav {
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.1);
    border-bottom: 1px solid white;
}

.main-logo-heading-container {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.main-logo-heading-container img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;
}

.main-logo-heading-container p {
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Mozilla Headline", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;

    &:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }
}

.main-logo-heading-container pre {
    font-size: 2.5em;
    color: rgb(75, 75, 255);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;
    font-family: "Mozilla Headline", sans-serif;

    &:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
    }
}

.info-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.info-container a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "Mozilla Headline", sans-serif;

    &:hover {

        padding: 2px;
        border-bottom: 4px solid #3939ff;
        border-radius: 10px;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
        color: #3939ff;
    }
}

.theme-toggle-button {
    background-color: white;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "Mozilla Headline", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(149, 149, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 5px;

    &:hover {
        box-shadow: 5px 5px 20px rgb(200, 200, 200);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);
    }
}

.theme-toggle-button i {
    color: black;
    font-size: 1rem;
}

#sun-icon {
    display: block;
}

#sun-icon {
    display: block;
}

#moon-icon {
    display: none;
}

.login-button {
    background: linear-gradient(to right, #4f58ff, rgb(122, 0, 236));
    border: none;
    outline: none;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "Mozilla Headline", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(149, 149, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;

    &:hover {
        box-shadow: 5px 5px 20px rgb(200, 200, 200);
        background: linear-gradient(to right, #7a00ec, #4f58ff);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);

    }
}

.deg-cel-btn-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-family: "Mozilla Headline", sans-serif;
}

.deg-cel-btn-switch {
    width: 60px;
    height: 28px;
    background: #0c1326;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

.deg-cel-btn-circle {
    width: 26px;
    height: 25px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

.active .deg-cel-btn-circle {
    left: 32px;
}

.main-content {
    background-color: #191919;
    height: 200px;
    width: 200px;
}

.search-bar-container {
    height: 150px;
    width: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-out forwards;
    opacity: 0;
    transform: translateY(40px);
}

.search-bar {
    height: 90px;
    width: 80%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(134, 134, 134, 0.711);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;


}

#search-button {
    height: 40px;
    width: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: white transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        box-shadow: 5px 5px 20px rgb(200, 200, 200);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);
    }
}

.search-bar-container input {
    width: 680px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    padding-left: 5px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px rgb(191, 191, 191);

    &:hover {
        box-shadow: 1px 2px 10px rgb(200, 200, 200);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);
        border: 1px solid blue;
        outline: none;
    }
}

.search-bar-container input::placeholder {
    color: rgb(150, 150, 150);
    font-size: 1rem;
    padding-left: 14px;
}

#main-search-button {
    height: 40px;
    width: 130px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.711);

    &:hover {
        box-shadow: 5px 5px 20px rgb(200, 200, 200);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);
    }
}

#locate-me-btn {
    height: 40px;
    width: 130px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.711);

    &:hover {
        box-shadow: 5px 5px 20px rgb(200, 200, 200);
        transition: all 0.3s ease-in-out;
        transform: translateY(-2px);
    }
}

.search-results-main-container {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    animation: slideIn 1s ease-out forwards;
    transform: translateX(-500px);
}

@keyframes slideIn {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

.search-results-container {
    height: 450px;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid whitesmoke;
    box-shadow: 1px 1px 5px rgb(195, 195, 195);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: px;
}

.search-result-item-container {
    height: 60%;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.wheather-update-container {
    background-color: rgb(176, 30, 30);
    height: 200px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(195, 195, 195);
}

.left-container {
    background: linear-gradient(135deg, #2e54ff, #962dff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    height: 100%;
    width: 55%;
}

.left-container .temp {
    font-size: 48px;
    font-weight: bold;
    color: white;
    display: flex;
    font-family: system-ui, -apple-system;
    animation: fadeIn 1.5s ease-in-out;
}

.left-container .icon {
    font-size: 50px;
    animation: bounce 2s infinite;
}

.right-container {
    height: 100%;
    width: 55%;
    background-color: white;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.location-container {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    font-family: "Mozilla Headline", sans-serif;
}

.Partly-cloudy {
    font-size: 1.2rem;
    color: #101010;
    text-align: center;
    font-weight: 800;
    font-family: system-ui, -apple-system;
}

.temperature-container {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* days */

.days-container {

    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.day {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system;
    background-color: white;
    width: 110px;
    color: rgb(56, 56, 56);
    border-radius: 10px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    box-shadow: 1px 1px 3px rgb(153, 153, 153);


    &:hover {
        box-shadow: 1px 1px 20px rgb(195, 195, 195);
        transition: all 0.3s ease-in-out;
        transform: translateY(-10px);
        border-bottom: 4px solid rgb(0, 0, 209);
    }
}

.deg-cel-container {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system;
    background-color: white;
    width: 210px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px gray;

    &:hover {
        box-shadow: 1px 1px 5px rgb(195, 195, 195);
        transition: all 0.1s ease-in-out;
        transform: translateY(-2px);
        border-left: 4px solid rgb(0, 0, 209);
    }
}

.kp-hover-container {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system;
    background-color: white;
    width: 210px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px gray;

    &:hover {
        box-shadow: 1px 1px 5px rgb(195, 195, 195);
        transition: all 0.1s ease-in-out;
        transform: translateY(-2px);
        border-right: 4px solid rgb(0, 0, 209);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.humidity-container {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: system-ui, -apple-system;
    background-color: white;
    width: 210px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px gray;

    &:hover {
        box-shadow: 1px 1px 5px rgb(195, 195, 195);
        transition: all 0.1s ease-in-out;
        transform: translateY(-2px);
        border-left: 4px solid rgb(0, 0, 209);
    }

}

.search-result-location-container {
    height: 90vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-info-container {
    background-color: white;
    height: 80vh;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 2px 5px gray;
}

.location-info-container iframe {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.todays-hilights-container {
    background-color: white;
    height: 450px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    transform: translateY(500px);
    transition: all 0.3s ease-in-out;
    animation: inani 1s ease-out forwards;
}

@keyframes inani {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}

.open-btn {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0px;
    right: -255px;
    width: 250px;
    border: 3px solid blue;
    height: 50%;
    background-color: white;
    padding-top: 5px;
    transition: 0.3s;
    color: black;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;

}

.open-btn i {
    margin-left: 120px;
    margin-bottom: 20px;
}

.sidebar.active {
    right: 0;
}

.open-btn {
    top: 20px;
    margin-right: 20px;
    background: transparent;
    color: blue;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 5000;
    font-weight: bolder;
    font-size: 2rem;
}

.sidebar a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-family: "Mozilla Headline", sans-serif;

    &:hover {

        padding: 2px;
        border-bottom: 4px solid #3939ff;
        border-radius: 10px;
        transform: translateY(-5px);
        transition: all 0.2s ease-in-out;
        color: #3939ff;
    }
}

/*------------------- Media Query For 0 to 480 px------------------ */

@media (max-width: 480px) {

    .open-btn {
        display: block;
    }

    .nav {
        z-index: 2000;
        height: auto;
        gap: 20px;
        padding: 15px 0;
        justify-content: center;
        align-items: center;
    }

    .hover-box {
        display: none;
    }

    .hover-box2 {
        display: none;
    }

    .main-logo-heading-container {
        width: 100%;
        justify-content: center;
    }

    .info-container {
        display: none;
    }

    .search-bar-container {
        margin-top: 150px;
        animation: none;
        opacity: 1;
        transform: none;
    }

    .search-bar {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
        width: 90%;
    }

    .search-bar-container input {
        width: 100%;
        box-sizing: border-box;
    }

    #main-search-button,
    #locate-me-btn {
        width: 50%;
    }

    .search-results-main-container,
    .search-results-container {
        flex-direction: column;
        width: 90%;
        height: auto;
        transform: none;
        animation: none;
        gap: 20px;
    }

    .search-results-main-container {
        width: 100%;
        margin-top: 70px;
    }

    .search-result-item-container {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .wheather-update-container {
        width: 75%;
        height: 200px;
        margin-top: 20px;
    }

    .temperature-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .result-days-container {
        height: 430px;
        flex-wrap: wrap;
    }

    .todays-hilights-container {
        display: flex;
        width: 90%;
        height: 600px;
        transform: none;
        animation: none;
        gap: 30px;
    }

    .dashboard {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .card {
        width: 40%;
    }
}

/*------------------- Media Query For 481px to 769px ------------------*/

@media (min-width: 481px) and (max-width: 769px) {




    .open-btn {
        display: block
    }

    .open-btn i {
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .open-btn {
        margin-top: 10px;
    }

    .nav {
        gap: 50px;
        justify-content: space-around;
        padding: 0 20px;
    }

    .main-logo-heading-container {
        width: auto;

    }

    .main-logo-heading-container p,
    .main-logo-heading-container pre {
        font-size: 2em;
    }

    .search-bar-container {
        height: 250px;
    }

    .info-container {
        display: none;
    }

    .search-bar {
        width: 90%;
        height: 220px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #search-input {
        width: 70%;
    }

    .search-bar-container input {
        width: 50%;
    }

    .search-results-main-container {
        flex-direction: column;
        height: 190vh;
        gap: 30px;
        align-items: center;
        transform: none;
        animation: none;
    }

    .search-results-container {
        width: 90%;
        height: 600px;
        transform: none;
        animation: none;
    }

    .todays-hilights-container,
    .dashboard {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        ;
        gap: 15px;
        height: 90vh;
        transform: none;
        animation: none;
        display: flex;
        flex-wrap: wrap;
    }

    .search-result-item-container {
        flex-direction: column;
        height: auto;
        gap: 15px;
        width: 100%;
        margin-top: 20px;
    }

    .wheather-update-container {
        width: 75%;
    }

    .todays-hilights-container .card {
        width: 35%;
        height: 150px;
    }

}

/*------------------- Media Query For 769px to 950px ------------------*/

@media (min-width: 770px) and (max-width: 950px) {

    .open-btn {
        display: block;
        margin-top: 15px;
    }

    .nav {
        gap: 100px;
        justify-content: space-around;
        padding: 0 20px;
    }

    .info-container {
        display: none;
    }

    .search-bar {
        flex-direction: row;
        height: 90px;
        padding: 0;
        gap: 10px;
    }

    .search-bar-container {
        height: 150px;
    }

    .search-bar-container input {
        width: 50%;
    }

    .search-results-main-container {
        flex-direction: column;
        height: auto;
        gap: 30px;
        align-items: center;
    }

    .search-results-container,
    .todays-hilights-container {
        width: 90%;
        height: auto;
    }

    .search-result-item-container {
        flex-direction: row;
        height: 250px;
    }

    .todays-hilights-container {
        height: 400px;
    }
}

/*------------------- Media Query For 950px to 1200px ------------------*/

@media (min-width: 950px) and (max-width: 1200px) {

    .nav {
        gap: 50px;
        justify-content: space-around;
        padding: 0 20px;
    }

    .main-logo-heading-container {
        width: auto;
    }

    .info-container {
        display: flex;
        width: auto;
        gap: 25px;
    }

    .search-bar {
        flex-direction: row;
        height: 90px;
        padding: 0;
        gap: 10px;
    }

    .search-bar-container {
        height: 150px;
    }

    .search-bar-container input {
        width: 50%;
    }

    .search-results-main-container {
        flex-direction: column;
        height: auto;
        gap: 30px;
        align-items: center;
    }

    .search-results-container,
    .todays-hilights-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        height: auto;
    }

    .search-result-item-container {
        flex-direction: row;
        height: 250px;
    }

    .todays-hilights-container {
        height: 400px;
    }
}

/*------------------- Media Query 1200px to 1290px ------------------*/

@media (min-width: 1200px) and (max-width: 1290px) {

    .main-logo-heading-container {
        width: auto;
    }

    .todays-hilights-container {
        width: 50%;
    }
}